---
layout: default
title: Pierce Howell
categories:
    - home
---
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="/assets/headshot-square.jpg" alt="Your Photo" class="img-fluid mx-auto d-block" style="max-width:240px;">
            <div class="mt-2 text-center">
                <small>Email: pierce [dot] howell [at] gatech [dot] edu</small>
            </div>
            <div class="mt-3 d-flex justify-content-center" style="gap: 0.5rem;">
                <a href="https://github.com/piercehowell" target="_blank" rel="noopener" class="mx-2"><i class="fa-brands fa-square-github fa-2x"></i></a>
                <a href="https://scholar.google.com/citations?user=KTovTiQAAAAJ&hl=en" target="_blank" rel="noopener" class="mx-2"><i class="fa-brands fa-google-scholar fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/pierce-howell/" target="_blank" rel="noopener" class="mx-2"><i class="fa-brands fa-linkedin fa-2x"></i></a>
            </div>
            
        </div>
        <div class="col-md-8">
            <h1>Pierce Howell</h1>
            <p class="lead about-lead">
                I'm a 3rd-year Robotics Ph.D. student in the <a href="https://star-lab.cc.gatech.edu/" target="_blank" rel="noopener">Structured Techniques for Algorithmic Robotics (STAR) Lab</a> 
                at Georgia Tech, advised by Professor Harish Ravichandar.
                My research interests span robot learning, multi-robot systems, and human-robot interaction.
                My vision is to enable robots that are self-sufficient yet can perform diverse tasks, learn new behaviors, and collaborate as a team with minimal expert guidance.
                In line with this vision, my dissertation focuses on developing learning algorithms that learn efficiently and generalize well for complex multi-robot teaming domains.
            </p>

            <p class="lead about-lead">
                I earned an M.S. in Robotics from Georgia Tech (2023).
                I was a recipient of the Science, Mathematics, and Research Transformation (SMART) Scholarship from 2021–2023, and during that time I interned at the Naval Information Warfare Center (NIWC) Pacific in 2022 and 2023.
            </p>

            <p class="lead about-lead">
                I graduated from San Diego State University (SDSU) with a B.S. in Electrical Engineering in 2021.
                Upon graduation I was named the College of Engineering's Valedictorian.
                During my undergraduate studies I was a software and electrical team lead for the <a href="https://www.sdsumechatronics.org/" target="_blank" rel="noopener">SDSU Mechatronics (Robotics) Club</a>, 
                where I helped lead a team that developed an autonomous underwater vehicle (AUV) to compete in the 2019 and 2020 Robosub competitions.
                I worked in the <a href="https://ashrafi.sdsu.edu/" target="_blank" rel="noopener">Signal Processing Research Laboratory</a> with Ashkan Ashrafi.
                I also worked as an REU intern in the <a href="https://smile.sdsu.edu/index.html" target="_blank" rel="noopener">Systems and Intelligence Laboratory (SMILE)</a> with Junfei Xie in 2020.
            </p>
            </div>
    </div>
    {% assign papers = site.categories.projects | sort: 'year' | reverse %}
    <div class="row">
        <div class="col-12">
            <hr class="my-4">
            <h1 class="text-center" id="projects">Research / Publications / Projects</h1>
        </div>
        {% for paper in papers%}
        <div class="col-lg-12">
            <div class="media">
                <img class="align-self-center mr-3" style="width:200px" src="{{paper.image | absolute_url}}" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mb-0 mt-3">{{paper.title}}</h5>
                    <p class="my-0">
                        {% for author in paper.authors %}
                            {% if author == "Pierce Howell" %}
                                <strong>{{ author }}</strong>
                            {% else %}
                                {{ author }}
                            {% endif %}{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p class="my-0"><em>{{paper.journal}}, {{paper.year}}</em></p>
                    <p class="mt-0">
                        {% if paper.paper_url %}
                            <a href="{{paper.paper_url}}" target="_blank" rel="noopener">[paper]</a>
                        {% endif %}
                        {% if paper.code%}
                            | <a href="{{paper.code}}" target="_blank" rel="noopener">[code]</a>
                        {% endif %}
                        {% if paper.webpage%}
                            | <a href="{{paper.webpage}}" target="_blank" rel="noopener">[webpage]</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



